<h1>YU GI OH Card Reader</h1>

<p>
  This website formats the text of Yu-Gi-Oh cards in a way that is accessible and easy to read.
</p>
<p>
  To get started,
  <%= link_to 'Click Here', cards_route%>
  for a list of cards.
</p>