<% content_for :title, "Yugioh Card Viewer" %>

<h1>YU GI OH Card Reader</h1>

<p>
  This website formats the text of Yu-Gi-Oh cards in a way that is (hopefully) accessible and easy to read.
</p>

<p>
  test cards:
  <br/>
  <%= link_to 'S:P Little Knight', card_path(29301450)%><br/>
  <%= link_to 'Heavy Forward', card_path(34721681)%><br/>
  <%= link_to 'Heavy Freight Train Derricrane', card_path(13647631)%><br/>
  Alternatively, you can use the search feature at the top of every page to find a specific card.

  
</p>
<p>
  This website is still a work in progress. If you have any feedback, please contact me at <a href="mailto:acactusorsomething@gmail.com">acactusorsomething@gmail.com</a>.
</p>