<% content_for :title, "Yugioh Card Reader" %>

<section aria-labelledby="site-description" class='constrain'>
  <h1>YU GI OH Card Reader</h1>
  <h2>About:</h2>
  This website formats the text of Yu-Gi-Oh cards in a way that is (hopefully) accessible and easy to read. Features include:
  <ul>
    <li>Automatic line breaks and indentation are applied to card effect text</li>
    <li>Abbreviated terms (such as "GY" for "graveyard") are marked and labeled</li>
    <li>Key words tied to specific game mechanics are detected on each card, and presented alongside links to relevant wiki pages</li>
    <li>Special characters in a card's name are excluded when searching for it (You can find "Evil★Twin" cards by just searching "evil twin", for instance)</li>
  </ul>
</section>

<nav aria-labelledby="example-links" class='constrain'>
  <h2>Test Cards:</h2>
  <%= link_to 'S:P Little Knight', card_path(29301450)%><br/>
  <%= link_to 'Heavy Forward', card_path(34721681)%><br/>
  <%= link_to 'Heavy Freight Train Derricrane', card_path(13647631)%><br/>
  Alternatively, you can use the search feature at the top of every page to find a specific card.
</nav>
<section aria-labelledby="feedback" class='constrain'>
  <h2>Feedback:</h2>
  This website is still a work in progress. If you have any feedback, please contact me at <a href="mailto:acactusorsomething@gmail.com">acactusorsomething@gmail.com</a>.
</section>