/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "yeti/variables";
@import "bootstrap";
@import "yeti/bootswatch";

@import "rails_bootstrap_forms";

// atkinson hyperlegible font
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');


label.required:after {
  content:" *";
}

main {
  margin-top: 20px;
}

.atkinson-hyperlegible-regular,
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.outputContainer {
  margin: 4px;
  padding: 4px;
  border: solid;
  max-width: fit-content;
  background-color: white; 
  color: black;
}

.flex-container {

  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#card-info-container {
  margin-right: 5em;
}

#card {
  margin:auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 4px solid black;
  width: fit-content;
  max-width: 80em;
  padding: 0.5em;
}

.card-name {
  text-align: left;
}

// different frames of yu gi oh cards
.frametype-normal {
  background-color: #FDE68A;
  color: black;
}

.frametype-effect {
  background-color: #FF8B53;
  color: black;
}

.frametype-ritual {
  background-color: #9db5cc;
  color: black;
}

.frametype-fusion {
  background-color: #a086b7;
  color: black;
}

.frametype-synchro {
  background-color: #cccccc;
  color: black;
}

.frametype-xyz {
  background-color: #000000;
  color: white;
}

.frametype-link {
  background-color: #1475ad;
  color: white;
}

.frametype-normal_pendulum {
  background: linear-gradient(#FDE68A, teal);
  color: black;
}

.frametype-effect_pendulum {
  background: linear-gradient(#FF8B53, teal);
  color: black;
}

.frametype-ritual_pendulum {
  background: linear-gradient(#9db5cc, teal);
  color: black;
}

.frametype-fusion_pendulum {
  background: linear-gradient(#a086b7, teal);
  color: black;
}

.frametype-synchro_pendulum {
  background: linear-gradient(#cccccc, teal);
  color: black;
}

.frametype-spell {
  background-color: teal;
  color: white;
}

.frametype-trap {
  background-color: mediumvioletred;
  color: white;
}

.frametype-token {
  background-color: #828e85;
  color: black;
}

.linkarrow-true {
  fill:red;
  stroke:grey;
  stroke-width:5; 
}
.linkarrow-false {
  fill:#333333;
  stroke:grey;
  stroke-width:5; 
}

